/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .field {
  padding: 5px;
 }

 input#user_email,
 input#user_password,
 input#user_password_confirmation,
 input#user_name, 
  input#user_bio,
  input#user_photo{
  width: 100%;
 }

 input#user_password_confirmation {
  margin-bottom: 1rem;
 }

 /* Input with type submit */
  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }